<po-loading-overlay
  [p-screen-lock]="false"
  [hidden]="!isLoading"
  p-text="Carregando dados..."
></po-loading-overlay>
<div class="po-wrapper mainDiv">
  <po-toolbar
    class="toolbar"
    [p-title]="appTitle"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
    [hidden]="!isLogged || isPublic"
  >
  </po-toolbar>
  <po-menu
    [p-filter]="true"
    [p-logo]="logo"
    [p-collapsed]="false"
    [p-menus]="menu"
    [hidden]="!isLogged || isPublic"
  >
  </po-menu>
  <router-outlet [hidden]="!isLogged || isPublic"></router-outlet>
</div>
