<div class="base">
  <div class="container">
    <div class="login">
      <div class="loginForm">
        <po-input
          class="input"
          id="inputLogin"
          [(ngModel)]="inputUser"
          type="text"
          placeholder="Usuário"
          maxlength="20"
          (keyup.enter)="submitLogin()"
        ></po-input>
        <po-input
          class="input"
          id="inputPassword"
          [(ngModel)]="inputPassword"
          type="password"
          placeholder="Senha"
          maxlength="20"
          (keyup.enter)="submitLogin()"
        ></po-input>
        <po-button
          class="button button-login"
          p-label="Entrar"
          (p-click)="submitLogin()"
        ></po-button>
      </div>
    </div>
  </div>
</div>
